* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 28px;
}
.section {
  min-height: 100vh;
  text-align: center;
  width: 100%;
  display: table;
  /* background: url(../video/ocean.jpg) no-repeat center; */
  background-size: cover;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
.button {
  display: inline-block;
  width: 15rem;
  height: 3rem;
  font-weight: bold;
  line-height: 45px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background: #fff;
  color: #000;
}
